<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>Clienti</servlet-name>
        <servlet-class>Controller.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Clienti</servlet-name>
        <url-pattern>/Clienti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contracte</servlet-name>
        <servlet-class>Controller.ContractController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contracte</servlet-name>
        <url-pattern>/Contracte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Proiecte</servlet-name>
        <servlet-class>Controller.ProiectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Proiecte</servlet-name>
        <url-pattern>/Proiecte</url-pattern>
    </servlet-mapping>
</web-app>